<!DOCTYPE html>
<html>
leave blank to not limit in that way
<br> <br>
some groups may be duplicated if you have multiple ways of accessing them,
each of which may have different limitations
<br><br>
if two groups start with the same string, the shorter one implies membership
in the longer one if the first unmatched character is a separator
<form method="POST">
    <ul>
    {% for group in groups %}
    {% for implied in group.implied_groups %}
    <div class="group">
        <input type="checkbox" name="{{implied[0]}}" id="chk-{{implied[0]}}" />
        <li>
            <label for="chk-{{implied[0]}}">
                <span>access_group</span>:
                <pre><span>"{{implied[0]}}"</span></pre>; {{ implied[1] }}
            </label>
        </li>
        <ul>
            <li>
                <span>invitees</span>: &le;
                <span class="invitee-bound"><!--
                    -->{{ group.depletion_bound or "null" }}<!--
                --></span>
            </li>
            <li class="before">
                <span>acceptance_expiration</span>: &le;
                <span class="date">{{ group.until or "null" }}</span>
                <input type="date"
                    name="acceptance_expiration-{{implied[0]}}" />
            </li>
            <li>
                <span>access_expiration</span>:
                &le; <span class="date">{{ group.until or "null" }}</span>
                <ul class="alternate-inputs">
                    <li>
                        <input type="radio" id="absolute-{{implied[0]}}"
                            value="absolute-{{implied[0]}}"
                            name="expiration-type-{{implied[0]}}" checked />
                        <input type="date"
                            name="access_expiration-{{implied[0]}}" />
                        <label for="absolute-{{implied[0]}}">
                            &ge; acceptance_expiration
                        </label>
                    </li>
                    <li>
                        <input type="radio" id="relative-{{implied[0]}}"
                            value="relative-{{implied[0]}}"
                            name="expiration-type-{{implied[0]}}" />
                        <input type="number" name="access-num-{{implied[0]}}" />
                        <label for="relative-{{implied[0]}}">
                            days after acceptance (same maximum expiration time)
                        </label>
                    </li>
                </ul>
            </li>
            <li class="bounded-num">
                <span>plus</span>:
                &lt; <span>{{group.depletion_bound or "null"}}</span>
                <input type="number" name="plus-{{implied[0]}}" min=0
                    value=0 />
            </li>
            <li>
                <span>inviter</span>:
                <pre><span>"{{group.child_group}}"</span></pre>
                <input type="hidden" name="inviter-{{implied[0]}}"
                    value="{{group.child_group}}" />
            </li>
            <li>
                <label for="depletes-chk-{{implied[0]}}">
                    <span>depletes</span>:
                    <span>
                        {{"[true]" if group.depletes else "[false, true]"}}
                    </span>
                </label>
                <input type="checkbox" name="depletes-{{implied[0]}}"
                    id="depletes-chk-{{implied[0]}}"
                    {{'checked disabled' if group.depletes else ''}}" />
            </li>
            <li class="bounded-num">
                <span>dos</span>:
                &le; <span>{{group.dos - 1 if group.dos else "null"}}</span>
                <input type="number" name="dos-{{implied[0]}}" min=1
                    value=1 />
            </li>
            <li class="bounded-num">
                <span>deauthorizes</span>:
                &le; <span>{{group.deauthorizes}}</span>
                <input type="number" name="deauthorizes-{{implied[0]}}" min=0
                    max=2 value=0 />
            </li>
        </ul>
    </div>
    {% endfor %}
    {% endfor %}
    </ul>
    <div>
        <span>
            invitees: &le; <span id="current-bound">null</span>
            <input type="number" name="invitees" min=0 value=1 />
        </span>
        <br>
        <input type="hidden" id="tz" name="tz" />
        <span>redirect</span>:
        <input type="text" name="redirect" value="/" required />
        <br>
        <label for="confirm-chk">
            <span>confirm</span> upon acceptance:
        </label>
        <input type="checkbox" name="confirm" id="confirm-chk" />
        <br>
        <input type="submit" value="submit"
            {{ 'disabled' if groups|count == 0 else '' }} />
    </div>
</form>
<style>
.group {
    padding-bottom: 1px;
}
.group > input[type=checkbox] {
    float: left;
}
.group > input[type=checkbox] + li {
    list-style-type: none;
}
.group > input[type=checkbox]:not(:checked) ~ ul {
    display: none;
}
pre {
    display: inline;
}
</style>
<script type="text/javascript">
function date_ish(v) {
    return v.toISOString().slice(0, -14)
    return v.toISOString().slice(0, -8)
}
window.addEventListener("load", () => {
    for (let date of document.getElementsByClassName("date")) {
        let value = JSON.parse(date.innerText)
        let sel = date.parentElement.querySelector("input[type=date]")
        sel.min = date_ish(new Date())
        if (value !== null) {
            let end = new Date(value * 1e3)
            date.innerText = end.toString()
            sel.max = date_ish(end)
        }
    }
    for (const alt of document.getElementsByClassName("alternate-inputs")) {
        let num = alt.querySelector("input[type=number]")
        let dated = alt.querySelector("input[type=date]")
        num.addEventListener("keypress", ((sel) => () => {
            sel.checked = true
        })(num.parentElement.querySelector("input[type=radio]")))
        dated.addEventListener("change", ((sel) => () => {
            sel.checked = true
        })(dated.parentElement.querySelector("input[type=radio]")))
    }
    for (const wrapper of document.getElementsByClassName("before")) {
        let before = wrapper.querySelector("input[type=date]")
        let after = wrapper.nextElementSibling.querySelector(
            "input[type=date]")
        before.addEventListener("change", ((before, after) => () => {
            if (before.value === "") {
                after.min = date_ish(new Date())
            } else {
                let updated = new Date(before.value)
                if (new Date(after.value) < updated) {
                    after.value = date_ish(updated)
                }
                after.min = date_ish(updated)
            }
        })(before, after))
    }
    for (const wrapper of document.getElementsByClassName("bounded-num")) {
        const value = JSON.parse(Array.prototype.slice.call(
            wrapper.querySelectorAll("span"), -1)[0].innerText)
        if (value !== null) {
            wrapper.querySelector("input[type=number]").max = value
        }
    }
    document.getElementById('tz').value = (new Date()).getTimezoneOffset();

    const sel_query = ".group > input[type=checkbox]:first-child"
    const selections = document.querySelectorAll(sel_query)
    const output = document.getElementById("current-bound")
    const user_value = output.parentElement.querySelector("input")
    const f = () => {
        const limits = document.querySelectorAll(
            sel_query + ":checked ~ * .invitee-bound")
        const vals = Array.prototype.map.call(
            limits, el => JSON.parse(el.innerText)).filter(x => x !== null)
        if (vals.length === 0) {
            output.innerText = "null"
            user_value.max = undefined
        } else {
            const bound = Math.min(...vals);
            output.innerText = bound
            user_value.max = bound
        }
    }
    for (const sel of selections) {
        sel.addEventListener("change", f)
    }
})
</script>
</html>

