{% extends 'options.html' %}

{% block options %}
    {% for remove in (removable[1] + removable[2])|sort(
            attribute="display_name,group_name") %}
        <div class="option">
            <input type="checkbox" name="{{ remove.user_group }}"
                id="{{ remove.user_group }}" />
            <label for="{{ remove.user_group }}">
                remove {{ remove.display_name }} from {{ remove.group_name }}
            </label>
            <li class="action" data-for="{{ remove.user_group }}">
                remove user {{ remove.member }}
                owner of user group {{ remove.user_group }}
                from access group {{ remove.access_group }}
            </li>
        </div>
    {% endfor %}
{% endblock %}

